*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
}

img {
    display: block;
    width: 100%;
}

a,
span,
p,
b,
h1,
h2,
h3,
h4,
h5 {
    color: $black;
}

h1 {
    font-size: 2rem; //32px
    line-height: 1.5; //48px
    text-align: center;
}

h2 {
    font-size: 1.75rem; //28px
    line-height:  1.5; //42px
    // @media screen and (max-width: 576px) {
    //     font-size: calc( 24px / 16)rem;
    // }
}

h3 {
    font-size: 1.5rem; //24px
    line-height:  2.5rem; //36px
}

h4 {
    font-size: 1.25rem; //20px
    line-height: 1.5; //30px
}

h5 {
    font-size: 1rem; //16px
    line-height: 1.5; //24px
}

h6 {
    font-size: 0.75rem; //12px
    line-height: 1.5; //18px
}

b {
    font-weight: bold;
}

html,
body {
    font-size: 16px;
}

html {
    @media screen and (max-width: 576px) {
        font-size: 14px;
    }
}


body {
    position: relative;
    font-family: $font-stack;
    color: $black;
    background: url('~@/assets/img/background.jpg') top center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    width: 100%;
    padding: 0 $gutter / 2;
    margin: 0 auto;

    @include media-breakpoint-up(sm) {
        max-width: 540px;
    }
    
    @include media-breakpoint-up(md) {
        max-width: 720px;
    }
    
    @include media-breakpoint-up(lg) {
        max-width: 960px;
    }
    
    @include media-breakpoint-up(xl) {
        max-width: 1140px;
    }
    
    @include media-breakpoint-up(xxl) {
        max-width: 1320px;
    }
}
