@font-face {
    font-family: 'Anton';
    src: url('/assets/fonts/Anton-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue Cyr';
    src: url('/assets/fonts/HelveticaNeueCyr-Roman.ttf') format('ttf'),
    url('/assets/fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
    url('/assets/fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue Cyr';
    src: url('/assets/fonts/HelveticaNeueCyr-Light.ttf') format('ttf'),
    url('/assets/fonts/HelveticaNeueCyr-Light.woff') format('woff'),
    url('/assets/fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue Cyr';
    src: url('/assets/fonts/HelveticaNeueCyr-Bold.ttf') format('ttf'),
    url('/assets/fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
    url('/assets/fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue Cyr';
    src: url('/assets/fonts/HelveticaNeueCyr-Medium.ttf') format('ttf'),
    url('/assets/fonts/HelveticaNeueCyr-Medium.woff') format('woff'),
    url('/assets/fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype');
    font-weight: 500;
    font-style: normal;
}