$font-stack: "Helvetica Neue Cyr", sans-serif;

$black: #242b2d;
$white: #ffffff;
$blue: #0277bd;
$red: #f44336;
$grey: #84878d;
$green: #287F28;

$grid-columns: 12;
$gutter: 1.875rem;

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);

// $container-max-widths: (
//     sm: 540px,
//     md: 720px,
//     lg: 960px,
//     xl: 1140px,
//     xxl: 1320px,s
// );